.board-background {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-auto-rows: 40px;
  gap: 4px;
  z-index: 0;
}

.board-background__cell {
  width: 40px;
  height: 40px;
  border-radius: 4px;

  &.filled {
    background-color: #555;
  }

  &.empty {
    background-color: transparent;
  }
}
