.inventory {
  display: flex;
  flex-direction: column;
  height: 83vh;
  background-image: url("../../assets/bg/inventory-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
